*{
    margin: 0;
    padding: 0;
}

.title-h1
{
    color: lightcoral;
}

.container
{
    width: 94vw;
    margin: 0 auto;
    background-color: #e9e6df;
}

.title-h1
{
  text-align: center;  
}

